*.ec
*.tar.gz
*.tar
*.json
*.txt
*.bus
*.h5ad
*.mtx
*.h5
*.fastq.gz
*.fasta.gz
*.fa.gz
*.gtf
*.fastq
*.fasta
*.idx
*.cells
*.barcodes
*.swp
*.sra
*.out
**/__pycache__/**
**/Data/**
**/Index/**
**/Logs/**
!**/Resources/**
*.DS_Store
*.egg-info/
*.png
**/Notebooks/Barnyard_Comparison/10x_data/**
**/Notebooks/Barnyard_Comparison/parse_data/**
.snakemake
**/Generated/**
Reports/
