*.ec
*.tar.gz
*.tar
*.json
*.txt
*.bus
*.h5ad
*.mtx
*.fastq.gz
*.fasta.gz
*.fa.gz
*.gtf
*.fastq
*.fasta
*.idx
*.cells
*.barcodes
*.swp
*.sra
*.out
**/__pycache__/**
**/Data/**
**/Index/**
**/Logs/**
!**/Configs/**
Configs/10x_info/
*.DS_Store
*.egg-info/
*.png
**/Notebooks/barnyard_comparison/10x_data/**
**/Notebooks/barnyard_comparison/parse_data/**
.snakemake